{% extends "base_generic.html" %}

{% block content %}

					<div  class="container-sm ">
						<div class="row bg-light rounded shadow ">
							
			  
			  
							<div class="col-sm-3 ">
							  <b>Edilton Brandão</b>
							  <br>
							  Estudante de Matemática
							</div>
							
							
							
							
	
							
			
						</div>
					
					</div>
					<br>
					<div  class="container-sm ">
						<div class="row  ">
							
			  
			  
							<h2>Minha análise</h2>
							<hr>
							
							
							
	
							
			
						</div>
					<h3>Quais matérias são menos cursadas por pessoas acima de 18 anos?</h3>
					</div>
{% endblock %}

{% block footer %}
{% endblock %}