{% extends "base_menu.html" %}

{% block content %}

<!-- configurações -->
		<div class="big-text"> Configurações </div>
		<hr>
		<a href="#">
        <div class="container-sm bg-light rouded shadow big-text py-3 c-hover mb-2">
		<i class="fas fa-camera"></i>
		ALTERAR FOTO DE PERFIL </div>
		</a>
		<a href="#">
        <div class="container-sm bg-light rouded shadow big-text py-3 c-hover mb-2">
		<i class="fas fa-edit"></i>
		ALTERAR NOME DE USUÁRIO</div>
		</a>
		<a href="#">
        <div class="container-sm bg-light rouded shadow big-text py-3 c-hover mb-2">
		<i class="fas fa-user-secret"></i>
		CONFIGURAÇÕES DE PRIVACIDADE </div>
		</a>
		<a href="#">
        <div class="container-sm bg-light rouded shadow big-text py-3 c-hover mb-2">
		<i class="far fa-id-card"></i>
		ALTERAR BIOGRAFIA </div>
		</a>
		
		<!-- fim conteúdo-->
        
        </div>
	</div>
</div>

{% endblock %}