{% extends "base_menu.html" %}

{% block content %}
<a href="#">
					<div  class="container-sm ">
						<div class="row bg-light rounded shadow ">
							<div class="col-sm-1 ">
								<img  height="80px" width="auto" src="https://www.pinclipart.com/picdir/big/355-3553881_stockvader-predicted-adig-user-profile-icon-png-clipart.png">
							</div>
			  
			  
							<div class="col-sm-3 ">
							  <b>Nome de usuário</b>
							  <br>
							  Estudante de Matemática
							</div>
							
							<div class="col-sm-1 ">
							  <img  height="80px" width="auto" src="https://www.vippng.com/png/full/367-3674491_the-regional-economic-investment-strategy-recommends-linkedin-circle.png">
							</div>
							
							<div class="col-sm-2 ">
							  <b>Analisar desempenho</b>
							</div>
							
							
			
						</div>
					
					</div>
				</a>
		
		<br>
      <!-- cards matérias -->
				<div class="row row-cols-1 row-cols-md-3 g-4" id="materias">
				  <div class="col">
					<div class="card mb-4 rounded shadow">
					  <img src="https://i.ytimg.com/vi/Rf2WaUyvpVg/maxresdefault.jpg" class="card-img-top imgformato" alt="...">
						    <div class="card-body">
								<h5 class="card-title">Cálculo II</h5>
								<p class="card-text"> Alguma descrição da matéria dada pelo usuário.</p>
								<a href="#" class="btn btn-primary">Acessar conteúdo</a>
						    </div>
					</div>
				  </div>
				  <div class="col">
					<div class="card mb-4 rounded shadow">
					  <img src="https://images.unsplash.com/photo-1532187643603-ba119ca4109e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" class="card-img-top imgformato" alt="...">
						    <div class="card-body">
								<h5 class="card-title">Química</h5>
								<p class="card-text">Alguma descrição da matéria dada pelo usuário.</p>
								<a href="#" class="btn btn-primary">Acessar conteúdo</a>
						    </div>
					</div>
				  </div>
				  <div class="col">
					<div class="card mb-4 rounded shadow">
					   <img src="https://images.unsplash.com/photo-1605792657660-596af9009e82?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1102&q=80" class="card-img-top imgformato" alt="...">
						    <div class="card-body">
								<h5 class="card-title">Economia</h5>
								<p class="card-text">Alguma descrição da matéria dada pelo usuário.</p>
								<a href="#" class="btn btn-primary">Acessar conteúdo</a>
						    </div>
					</div>
				  </div>
				  <div class="col ">
					<div class="card mb-4 rounded shadow">
					  <img src="https://images.unsplash.com/photo-1500989145603-8e7ef71d639e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1176&q=80" class="card-img-top imgformato" alt="...">
						    <div class="card-body">
								<h5 class="card-title">Redação</h5>
								<p class="card-text">Alguma descrição da matéria dada pelo usuário.</p>
								<a href="#" class="btn btn-primary">Acessar conteúdo</a>
						    </div>
					</div>
				  </div>
				</div>
{% endblock %}