{% extends "base_menu.html" %}

{% block content %}
<a href="#">
					<div  class="container-sm ">
						<div class="row bg-light rounded shadow ">
							<div class="col-sm-1 ">
								<img  height="80px" width="auto" src="https://www.pinclipart.com/picdir/big/355-3553881_stockvader-predicted-adig-user-profile-icon-png-clipart.png">
							</div>
			  
			  
							<div class="col-sm-3 ">
							  <b>Nome de usuário</b>
							  <br>
							  Estudante de Matemática
							</div>
							
							<div class="col-sm-1 ">
							  <img  height="80px" width="auto" src="https://www.vippng.com/png/full/367-3674491_the-regional-economic-investment-strategy-recommends-linkedin-circle.png">
							</div>
							
							<div class="col-sm-2 ">
							  <b>Analisar desempenho</b>
							</div>
	
							
			
						</div>
					
					</div>
				</a>
		
		<br>
	
      <!-- cards matérias -->
				<div class="row row-cols-1 row-cols-md-3 g-4" id="materias">
				{% for materia in materias %}
				  <div class="col">
					<div class="card mb-4 rounded shadow">
					  <img src={{materia.url_image}} class="card-img-top  alt="..." " height="215px">
						    <div class="card-body">
								<h5 class="card-title">{{materia.name}}</h5>
								<p class="card-text">{{materia.summary|slice:":150"}}...</p>
								<a href="#" class="btn btn-primary">Acessar conteúdo</a>
						    </div>
					</div>
					
				  </div>
				  {% endfor %}
				  
				  
				</div>
{% endblock %}