{% extends "base_menu.html" %}

{% block content %}
<!-- configurações -->
		<div class="big-text"> Notas </div>
		<hr>
  
                   <!--tabela de notas-->
                    <table class="border bg-light rounded shadow ">
                            <tr> <th>MATERIA</th> <th>NOTAS</th> <th>NOTAS</th> <th>RECUPERAÇÃO</th> <th>NOTAS</th> <th>NOTAS</th> <th>RECUPERAÇÃO</th> <th>SOMA FINAL</th> </tr>
                            <tr> <td>{{materia.name}}</td> <td>Nota 1</td> <td>Nota 2</td> <td>Nota(1+2)</td> <td>Nota 3</td> <td>Nota 4</td> <td>Nota(3+4)</td> <td>Nota(F)</td> </tr>
                           {% endfor %}
                    </table>
                    
					
{% endblock %}