{% extends "base_menu.html" %}

{% block content %}
<!-- PERFIL -->  
					<div class="row">
						<div class="card" style="width: 18rem;" id="caixaperfil">
						  <img src="https://images.unsplash.com/photo-1543852786-1cf6624b9987?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" class="card-img-top" alt="...">
						  <div class="card-body">
							<h5 class="card-title">Mr. Cherry</h5>
							<p class="card-text">BIBLIOGRAFIA</p>
							<p class="card-text">Meow!</p>
							<ul class="list-group list-group-flush">
							<li class="list-group-item"><p> <i class="fa fa-address-book" aria-hidden="true"></i> Amigos: 16 </p></li>
							<li class="list-group-item"><p> <i class="fa fa-book" aria-hidden="true"></i> Matérias-cursando: 10 </p></li>
							<li class="list-group-item"><p> <i class="fa fa-phone" aria-hidden="true"></i> Telefone: (21)9999-9999 </p></li>
							<li class="list-group-item"><p> <i class="fa fa-envelope" aria-hidden="true"></i> mrcherry@escoline.com </p></li>
						  </ul>
						  </div>
						 
						  <div class="card-body">
							<a href="#" class="card-link">Privacidade</a>
							<a href="#" class="card-link">Editar</a>
						  </div>
						</div>

						
						  <div class="col-sm-3">
							<div class="card">
							  <div class="card-body" id="mostrar-amigos">
								<h5 class="card-title">Amigos</h5>
								<img src="https://images.unsplash.com/photo-1513245543132-31f507417b26?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=735&q=80" class="imagemamigos" >
								<img src="https://images.unsplash.com/photo-1548366086-7f1b76106622?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=676&q=80" class="imagemamigos" >
								<img src="https://images.unsplash.com/photo-1571566882372-1598d88abd90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="imagemamigos" >
								<img src="https://images.unsplash.com/photo-1561948955-570b270e7c36?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=601&q=80" class="imagemamigos" >
								<img src="https://images.unsplash.com/photo-1548247416-ec66f4900b2e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=720&q=80" class="imagemamigos" >
								<img src="https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" class="imagemamigos" >
								<img src="https://images.unsplash.com/photo-1495360010541-f48722b34f7d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=736&q=80" class="imagemamigos" >
								<img src="https://images.unsplash.com/photo-1569591159212-b02ea8a9f239?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" class="imagemamigos" >
								<img src="https://images.unsplash.com/photo-1492370284958-c20b15c692d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80" class="imagemamigos" >
								<img src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=736&q=80" class="imagemamigos" >
								<img src="https://images.unsplash.com/photo-1606214174585-fe31582dc6ee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" class="imagemamigos" >
								<img src="https://images.unsplash.com/photo-1503777119540-ce54b422baff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=686&q=80" class="imagemamigos" >
							  <p>Mostrar todos</p>
							  </div>
							  
							</div>
						  </div>
						  <div class="col-sm-3">
							<div class="card">
							  <div class="card-body">
								<h5 class="card-title">Conversas</h5>
								<ul class="list-group">
									<li class="list-group-item"><img src="https://images.unsplash.com/photo-1503777119540-ce54b422baff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=686&q=80" class="imagemamigos2" >        <i class="fa fa-comment" aria-hidden="true"></i>  Enviou uma mensagem!</li>
									<li class="list-group-item"><img src="https://images.unsplash.com/photo-1529778873920-4da4926a72c2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=736&q=80" class="imagemamigos2" >        <i class="fa fa-comment" aria-hidden="true"></i>  Enviou uma mensagem!</li>
									<li class="list-group-item"><img src="https://images.unsplash.com/photo-1492370284958-c20b15c692d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=749&q=80" class="imagemamigos2" >        <i class="fa fa-file-image-o" aria-hidden="true">  Enviou uma foto! </i></li>
									<li class="list-group-item"><img src="https://images.unsplash.com/photo-1495360010541-f48722b34f7d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=736&q=80" class="imagemamigos2" >        <i class="fa fa-file-image-o" aria-hidden="true"> Enviou uma foto! </i></li>
									<li class="list-group-item"><img src="https://images.unsplash.com/photo-1561948955-570b270e7c36?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=601&q=80" class="imagemamigos2" >        <i class="fa fa-comment" aria-hidden="true"></i> Enviou uma mensagem!</li>
									<li class="list-group-item"><img src="https://images.unsplash.com/photo-1571566882372-1598d88abd90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80" class="imagemamigos2" >        <i class="fa fa-microphone" aria-hidden="true"></i> Enviou um audio!</li>
									<li class="list-group-item"><img src="https://images.unsplash.com/photo-1526336024174-e58f5cdd8e13?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80" class="imagemamigos2" >        <i class="fa fa-microphone" aria-hidden="true"></i> Enviou um audio!</li>
									<li class="list-group-item"><img src="https://images.unsplash.com/photo-1506891536236-3e07892564b7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=688&q=80" class="imagemamigos2" >        <i class="fa fa-microphone" aria-hidden="true"></i> Enviou um audio!</li>
									<li class="list-group-item"><img src="https://images.unsplash.com/photo-1500259571355-332da5cb07aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=688&q=80" class="imagemamigos2" >        <i class="fa fa-comment" aria-hidden="true"></i>  Enviou uma mensagem!</li>
									
								</ul>
							  </div>
							</div>
						  </div>
						</div>
	   
	   
	   
	   
<!-- PERFIL -->
{% endblock %}